.container {
    background-color: hwb(157 96% 1%);
    font-family: Arial, Helvetica, sans-serif;
    margin: 50px 150px;
    font-size: 20;
    padding-left: 15px;
}

.BG {
    background-color: hwb(157 96% 1%);
}

.text-filter {
    margin-top: -10px;
}

.checkbox {
    margin-top: -20px;
    margin-left: -20px;
    margin-bottom: 20px;
}

.input {
    width: 45%;
    height: 30px;
    border-radius: 4px;
    background-color: rgb(231, 250, 244);
    top: -50px;
    left: 200px;
    position: relative;
    margin-bottom: -10px;
}
.input-to{
    height: 30px;
    border-radius: 4px;
    top: -50px;
    left: 200px;
    position: relative;
    margin-bottom: -10px;
}

.input-date {
    width: 10%;
    height: 30px;
    border-radius: 4px;
    background-color: rgb(231, 250, 244);
    top: -50px;
    left: 200px;
    position: relative;
    margin-bottom: -10px;
}


.button-search {
    margin-top: -50px;
    background-color: #174685;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 10px 15px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

.button-reset {
    left: 95px;
    top: -39px;
    position: relative;
    background-color: #e6c928;
    border: none;
    border-radius: 4px;
    color: rgb(20, 30, 175);
    padding: 10px 15px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

.button-add {
    margin-top: 50px;
    background-color: #174685;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    margin-left: -295px;
}
.button-edit{
    background-color: green;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 10px 15px;
    font-size: 14px;
    cursor: pointer;
}
.button-delete{
    background-color: red;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 10px 15px;
    font-size: 14px;
    cursor: pointer;
}



.table {
    border: solid 1px rgb(233, 234, 235);
    width: 58%;
    border-collapse: collapse;
    height: 40px;
    text-align: left;
    position: relative;
    left: 5px;
    top: -32px;
    
}

th {
    height: 40px;
    background-color: hwb(191 64% 3%);
    padding-left: 5px;

}

td {
    height: 50px;
    padding-left: 5px
}

tr:nth-child(even) {
    background-color: #D6EEEE;

}

.pagination a {
    color: #174685;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid rgb(171, 190, 196);
}
/* ----------------EDIT------------------- */
.checkbox-edit {
    margin-top: -10px;
    margin-left: 5px;
    margin-bottom: 20px;
}
.input-edit{
    width: 45%;
    height: 30px;
    border-radius: 4px;
    background-color: rgb(231, 250, 244);
    top: -50px;
    left: 200px;
    position: relative;
    margin-bottom: -10px;
}
.input-edit-id{
    width: 45%;
    height: 30px;
    border-radius: 4px;
    background-color: rgb(202, 209, 212);
    top: -50px;
    left: 200px;
    position: relative;
    margin-bottom: -10px;
}
.input-boole-edit{
    width: 725px;
    height: 38px;
    border-radius: 4px;
    background-color: rgb(231, 250, 244);
    top: -50px;
    left: 200px;
    position: relative;
    margin-bottom: -10px;
}
.button-update{
    
    background-color: #174685;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 10px 15px;
    font-size: 14px;
    cursor: pointer;
    margin: -5% 0%;
}
/* ------------------- */
.input-add {
    width: 45%;
    height: 30px;
    border-radius: 4px;
    background-color: rgb(231, 250, 244);
    top: -30px;
    left: 200px;
    position: relative;
    margin-bottom: -10px;
}
.input-boole-add {
    width: 725px;
    height: 40px;
    border-radius: 4px;
    background-color: rgb(231, 250, 244);
    top: -30px;
    left: 200px;
    position: relative;
    margin-bottom: -10px;
}