<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <title>ADD</title>

</head>

<body>
    <h1>Add Data</h1>
    <form action=" " method="post">


        <div>
            <label for="String">String</label>
            <input type="text" placeholder=" String "><br>
        </div>

        <div>
            <label for="Integer">Integer</label>
            <input type="text" placeholder=" Integer "><br>
        </div>

        <div>
            <label for="Float">Float</label>
            <input type="text" placeholder="Float"><br>
        </div>

        <div>
            <label for="Date">date</label>
            <input type="text" placeholder="start date">
            <p>to</p>
            <input type="text" placeholder="end date"><br>
        </div>


        <div>
            <label for="Boolean" placeholder="Choose Boolean">Boolean</label>
            <select>

                <option disabled selected> Choose Boolean </option>
                <option value="False">False</option>
                <option value="True">True</option>
            </select>
        </div>

        <div> <button type="submit">ADD</button> </div>
        

    </form>

</body>

</html>