<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <title>BEARD</title>
</head>

<body>
    <h1>BREAD(Browse, Read, Edit, Add, Delete)</h1>
    <h2>Filters</h2>

    <form action=" " method="post">
        <div> 
            <input type="checkbox" id="ID" name="ID">
            <label for="ID">ID</label>
            <input type="text" placeholder=" ID "><br>
        </div>

        <div>
            <input type="checkbox" id="String" name="String">
            <label for="String">String</label>
            <input type="text" placeholder=" String "><br>
        </div>

        <div>
            <input type="checkbox" id="integer" name="Integer">
            <label for="Integer">Integer</label>
            <input type="text" placeholder=" Integer "><br>
        </div>

        <div>
            <input type="checkbox" id="Float" name="Float">
            <label for="Float">Float</label>
            <input type="text" placeholder="Float"><br>
        </div>

        <div>
            <input type="checkbox" id="Date" name="Date">
            <label for="Date">date</label>
            <input type="text" placeholder="start date">
            <p>to</p>
            <input type="text" placeholder="end date"><br>
        </div>


        <div>
            <input type="checkbox" id="Boolean" name="Boolean">
            <label for="Boolean" placeholder="Choose Boolean">Boolean</label>
            <select>

                <option disabled selected> Choose Boolean </option>
                <option value="False">False</option>
                <option value="True">True</option>
        </div>

        </select><br>
        <button type="submit" onclick="alert('apa anda yakin')">SEARCH</button>

        <!-- <input type="checkbox" id="Date" name="Date">
        <label for="datemin">Date</label>
        <input type="date" id="datemin" placeholder= "start date" ><br><br>
        <p>to<p>
        <label for="datemax"></label>
        <input type="dat" id="datemax" place ><br><br>
        <input type="submit" value="Submit"> -->
    </form>

    <button type="button"><a href="/add">ADD</a></button>

</body>

</html>